<div class="container">
  <div class="header">
    <h1>Phraser</h1>
    <div class="lives">
      <span *ngFor="let live of lives">🖤</span>
    </div>
  </div>

  <div class="phrase">
    <ul>
      <li *ngFor="let letter of currentPhrase" [ngClass]="{hidden: letter.hidden, space: letter.isSpace}" [innerText]="letter.hidden ? '' : letter.value"></li>
    </ul>
  </div>

  <app-keyboard (letterClicked)="checkLetter($event)"></app-keyboard>

<div class="game-overlay" *ngIf="showOverlay">
  <div class="overlay-container">
    <h1>{{overlayText}}</h1>
    <button (click)="startGame()">{{overlayButtonText}}</button>
  </div>
</div>
</div>